
// Fonts
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Navbar
.navbar-laravel {
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  font-weight: 800;
}

.nav-link, .navbar-brand {
  color: $white!important;
}

.nav-link {
  text-transform: uppercase;
}

.navbar {
  background-color: transparent!important;
}

// Hero

.hero {
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url('/images/barbell.jpg');
  background-repeat: no-repeat; 
  background-size: auto;
  background-size: cover;
  height: 100%;
  width: 100%;
  h3 {
    text-transform: uppercase;
    background-color: $white;
    color: $black;
    font-weight: 900;
    display: inline-block;
    padding: 20px;
    font-size: 46px;
  }
  .container {
    margin-top: 10rem;
  }
}

// Buttons

.btn-right {
  float: right;
  margin-top: 80px;
  margin-right: 300px;
}

.btn {
  text-transform: uppercase;
  &:after {
    content: '';
    background-image: url(/images/right-arrow.svg);
    background-repeat: no-repeat;
    background-size: 125px 125px;
    position: absolute;
    background-color: #5BC0BE;
    color: #FFFFFF;
    width: 35px;
    top: 653px;
    right: 265px;
    height: 44px;
    position: absolute;
    display: block;
    padding-top: 8px;
  }
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $white;
  border-radius: 0;
  &:hover {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $white;
  }
}
// Video

.jumbo {
  padding: 0px;
  margin-bottom: 0px;
  height: 276px;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}