
// Fonts
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $body-bg;
}

h1, h4 {
  color: $lighter-black!important;
}

ul {
  list-style: none;
}

a {
  color: $lighter-black;
  text-decoration: none;
  &:hover {
    color: $secondary-color;
    text-decoration: none;
  }
}

// Narbar
.navbar-light {
  background-color: transparent!important;
}

.navbar-brand, .nav-link {
  color: $white!important;
}

.nav-link {
  text-transform: uppercase;
}

a.nav-link.btn-menu {
  color: $white!important;
  &:hover {
    color: $primary-color!important;
  }
}

// Nav
.site-header {
  background-color: white;
  -webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.05);
  box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.05);
}

.bg-dark{
  background-color: $white!important;
  -webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.05);
  box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.05);
}

.navbar-light .nav-link {
  color: $primary-color!important;
  &:hover {
    color: $secondary-color!important;
  }
}

.navbar-light .navbar-toggler {
  color: $primary-color;
  border: 0;
}

a.py-2 {
  color: $primary-color;
  text-transform: uppercase;
  &:hover {
    color: $secondary-color!important;
    text-decoration: none;
  }
}

.active {
  &:before{
    content: '';
    position: absolute;
    top: 73px;
    border-bottom: 2px solid $secondary-color;
    width: 80px;
    height: 10px;
  }
}


// About us 
.about_us {
  padding: 150px 0;
  background-color: $primary-color;
 
  & h1 {
    color: $white!important;
  }
}

.why_dumbel {
  text-align: center;
  padding: 300px 0;
  background-color: $secondary-color;
  & h2 {
    color: $white!important;
  }
}

.about {
  background-color: $secondary-color!important;
}

iframe {
  border: 0;
  -webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.05);
  box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.05);
}

// Icons
.icon {
  width: 80px;
  height: 80px;
  vertical-align: center;
}

// Agenda
span.is-event {
  border-color: $secondary-color!important;
  & .selected-day {
    background-color: $secondary-color!important;
    border-color: $secondary-color!important;
  }
}

.item.event.selected-day .date-num {
  color: $white!important;
}

.item.event.selected-day .is-event {
  background-color: $secondary-color!important;
}

.item.event .date-num {
  color: $secondary-color!important;
}


.is-today {
  background-color: $primary-color!important;
}
.cal-body {
  background-color: $white;
}

.cal-header {
  background-color: $primary-color!important;
  color: $white;
}

.__vev_calendar-wrapper {

  margin-top: 20%;

  & .arrow-left.icon, & .arrow-right.icon {
    color: $white!important;
  }

  & .events-wrapper {
    border-radius: 0.25rem!important;
    background-color: transparent!important;
    & .date {
      background-color: transparent!important;
      color: $primary-color!important;
      text-transform: uppercase;
    }
  }

  .container.site-header-links {
    align-items: center!important;
  }

  & .events-wrapper .cal-events {
    margin: 32px 0!important;
    & .event-item {
      border-radius: 0.25rem;
      -webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.05);
      -moz-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.05);
      box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.05);
      & .title {
        border: 0;
      }

    }
  }
}


@media only screen and (max-width: 600px) {
  .__vev_calendar-wrapper {
    margin-top: 0px;
  }
}


// Modal
.modal-header {
  border: 0;
  color: $primary-color;
}

// Card
.card {
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.05);
  box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.05);
  border: 0;
}

.card-header {
  background-color: $white!important;
  border: 0;
  color: $primary-color;
  font-size: 20px;
  & h1 {
    color: $lighter-black!important;
  }
}

.card-title {
  display: inline-block;
  margin-left: 10px;
}

.round-pic {
  border-radius: 50%;
  margin-right: 10px;
}


// Profile
.profile-card {
  padding: 50px;
}

// Workouts
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $secondary-color;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  & img {
    margin-top: 25%;
  }
}

// Hero
.hero {
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url('/images/barbell.jpg');
  background-repeat: no-repeat; 
  background-size: auto;
  background-size: cover;
  height: 100%;
  width: 100%;
  h3 {
    text-transform: uppercase;
    background-color: $white;
    color: $black;
    font-weight: 900;
    display: inline-block;
    padding: 20px;
    font-size: 46px;
  }
  .container {
    margin-top: 10rem;
  }
}

// Buttons
.btn-right {
  float: right;
  margin-top: 80px;
  margin-right: 300px;
}

.to-right {
  text-align:right;
  margin: 0 0 1.5rem 0;
}

.btn {
  text-transform: uppercase;
  padding: 8px 30px;
}

.btn-lg {
  padding: 0.7rem 2rem;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $white;
  border-radius: 0;
  &:hover {
    background-color: $white;
    border-color: $primary-color;
    color: $primary-color;
  }
}

.btn-secondary {
  background-color: $secondary-color;
  border-color: $secondary-color;
  color: $white;
  border-radius: 0;
  &:hover {
    background-color: $white;
    border-color: $secondary-color;
    color: $secondary-color;
  }
}

.btn-danger {
  background-color: $danger-color;
  border-color: $danger-color;
  color: $white;
  border-radius: 0;
  &:hover {
    background-color: $white;
    border-color: $danger-color;
    color: $danger-color;
  }
}

.btn-success {
  background-color: $success-color;
  border-color: $success-color;
  color: $white;
  border-radius: 0;
  &:hover {
    background-color: $white;
    border-color: $success-color;
    color: $success-color;
  }

}

// Arrow back
.arrow-back {
  height: 20px;
  width: 50px;
  margin-left: 50px;
}

// Full screen navs
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: $white;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 900;
}

.overlay a:hover, .overlay a:focus {
  color: $primary-color;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
.overlay a {font-size: 20px}
.overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
}
}

//left navbar
.left-nav {
  position: absolute;
  background-color: #1C2541;
  height: 800px;
  width: 150px!important;
}

.nav-links a, .brand {
  color: $white;
  padding: 20px 40px;
}

.left-nav .navbar-brand {
  padding: 1rem 2rem;
  background-color: #4A368B;
  width: 100%;
}

.nav-links a {
  display: flex;
  padding: 20px 40px;
  text-transform: uppercase;
  font-weight: 900;
  &:hover {
    background-color: #0B132B;
    text-decoration: none;
  }
}

.gender {
  margin-left: 250px;
  margin-bottom: 1rem;
}

input[type="text"], input[type="email"], input[type="password"]
{
    border: 0;
    border-bottom: 1px solid lightgray;
    outline: 0;
}

// checkboxes
.inputGroup {
  background-color: #fff;
  display: block;
  position: relative;

  label {
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #9b9b9b;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;

    &:before {
      width: 100%;
      height: 10px;
      border-radius: 50%;
      content: '';
      background-color: $white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }

    &:after {
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid #D1D7DC;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in;
    }
  }

  input:checked ~ label {
    color: $lighter-black;

    &:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1;
    }

    &:after {
      background-color: $secondary-color;
      border-color:  $secondary-color;
    }
  }

  input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }
}

.form {
padding: 0 16px;
font-size: 18px;
font-weight: 600;
line-height: 36px;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

html {
box-sizing: border-box;
}

code {
background-color: #9AA3AC;
padding: 0 8px;
}

input[type="text"].form-control, input[type="email"].form-control, input[type="password"].form-control{
  border-radius: 0;
}

.form-control {
  border: 1px solid $white;
  border-bottom: 1px solid lightgray;
  border-radius: 0px;
}

// footer
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: $primary-color!important;
}
